#root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -ms-overflow-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  /* ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;;
      }

      ::-webkit-scrollbar-hover {
        background: #555;
      }  */
}

.formContainer {
  background: url("signin-background.jpg");
  background: cover;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 55%;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}

.title-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 6em;
}

.logo {
  font-size: 5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  input {
    background-color: #dde0dc;
    padding: 15px;
    width: 250px;
  }
}

/* Register */

.register-formContainer {
  background: url("signin-background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.register-formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.register-input {
  padding: 15px;
  width: 250px;
}

.password-strength {
  margin-top: 5px;
  font-size: 14px;
  color: black; /* Change color to black */
}

.register-weak {
  color: red;
}

.register-strong {
  color: green;
}

.register-error {
  color: red;
  margin-top: 5px;
}

.emojiButton {
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-right: 1%;
  margin-right: 0px;
  margin-bottom: 4px;
}

.emojiPopup {
  position: absolute;
  top: calc(70% + 0px);
  left: 90%;
  top: 62%;
  transform: translateX(-50%);
  background-color: #dde0dc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  min-width: 195px;
  max-width: 300px;
  max-height: 180px;
  overflow: auto;
}

.emojiItem {
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
}

.emojiItem:hover {
  background-color: #838387;
}

.selected {
  background-color: #5f6c64;
  color: white;
}

.sign-in {
  background-color: #dde0dc;
  border: none;
  border-radius: 5px;
}

.sign-in:hover {
  background-color: #838387;
}

.link-btn {
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: black;
}
/* Main Page */
.chatroom {
  background-color: #21222a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background-color: #4f4d4d;
    border: 1px solid white;
    border-radius: 10px;
    height: 85%;
    width: 90%;
    display: flex;
    overflow-y: hidden;

    /* Sidebar */
    .sidebar {
      background-color: #979494;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .navbar {
        background-color: #979494;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 5em;

        .toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;

          .toggle-label {
            font-weight: 900;
          }

          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin: 0 1em 0 1em;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }

      .newMsg {
        margin-top: 10px;
        margin-left: 100px;
        background-color: #6c757d;
        color: white;
        width: 15em;
        height: 2em;
        border-radius: 5px;

        &:hover {
          background-color: white;
          color: #6c757d;
          cursor: pointer;
        }
      }

      .nav-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .logo {
          cursor: pointer;
        }
      }
    }
  }

  .previews {
    height: 65%;
    overflow-y: scroll;
  }

  .chatPreview {
    cursor: pointer;
    padding: 5px 5px 30px 5px;
    max-width: 500px;
    overflow: hidden;
  }

  .chatPreview:hover {
    background-color: #39413c;
    color: white;
    cursor: pointer;
  }

  .userChat {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
  }

  .name-chat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  img {
    height: 3em;
    width: 3em;
    border-radius: 50% !important;
    object-fit: cover;
  }

  .channel-icon {
    margin-top: 16px;
    height: 3em;
    width: 3em;
    /* flex: 1; */
    border-radius: 50% !important;
    object-fit: cover;
  }

  .deleteContainer {
    cursor: pointer;
    margin-top: 15px;
    width: 30px;
    height: 30px;
  }

  .deleteContainer:hover svg {
    background-color: #b5b4b4;
  }

  p {
    font-size: 15px;
  }

  h3 {
    padding-top: 14px;
  }
}

.preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 75%;
  overflow: scroll;
}

.newChat {
  background-color: #9a9a9a;
  border: none;
  width: 20vw;
  font-size: 24px;
}

.newChat:hover {
  background-color: #4f4d4d;
}

.chatPreview {
  padding: 3em;
  gap: 15px;

  &.selected {
    background-color: #21222a;
  }
}
/* User Info in Sidebar */
.footer {
  display: flex;
  position: static;
  background-color: #7a7a7a !important;
  align-items: center;
  height: 5%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  cursor: pointer;
  /* margin-bottom: 50em; */

  img {
    height: 4em;
    width: 4em;
    margin: 2em 7em 0 1em;
    border-radius: 50%;
    object-fit: cover;
  }

  .sign-out {
    border-radius: 15px;
    background-color: #6c757d;
    color: white;
    margin: 2em 0 0 2em;
    height: 4em;
    width: 8em;
  }

  .sign-out:hover {
    background-color: white;
    color: #6c757d;
    cursor: pointer;
  }
}

/* Chat Message Panel */
.rightSection {
  flex: 2;
  overflow-y: auto;

  /*scroll bar for chatroom components*/
  /* ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;;
      }

      ::-webkit-scrollbar-hover {
        background: #555;
      }  */

  .chatMessages {
    display: flex;
    flex-direction: column;
    max-height: 82%;

    .scroll {
      overflow-y: scroll;
    }

    .messageBlock {
      max-height: 55%;
      overflow-y: auto;

      .chatMessage {
        display: flex;
        flex-direction: row;

        .userInfo {
          display: flex;
          flex-direction: column;
          width: 20%;
          margin: 2em 0 0 2em;

          span {
            color: gray;
            font-size: 0.7rem;
          }

          img {
            border-radius: 50%;
            height: 5em;
            width: 5em;
            object-fit: cover;
          }
        }
        .message {
          background-color: #7c91ff;
          display: flex;
          flex-direction: column;
          min-width: 25%;
          max-width: 100%;
          margin: 3em 1em 3em 0.5em;
          border-radius: 15px;
          word-wrap: break-word; /* Add this property to wrap long words */
          overflow-wrap: break-word; /* Add this property to handle overflow */
          white-space: pre-wrap;

          input {
            background-color: transparent;
            margin-top: 0.2em;
          }

          .edited-text {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            font-size: 0.5rem;
          }

          p {
            overflow: visible;
            color: white;
            padding: 8px;
          }

          .messageOption {
            margin-left: 5em;

            button {
              background-color: transparent;
              border-width: 0;
              margin: 3px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        &.sender {
          flex-direction: row-reverse;

          .message {
            background-color: #d9dfff;
          }

          p {
            color: black;
          }
        }
      }
    }

    .inputMessage {
      /* display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      height: 18%;
      width: 100%; */
      position: fixed;
      bottom: 70px;
      width: 45%;
      padding: 5px;
      /* background-color: transparent; */

      .inputBox {
        display: flex;
        width: 100%;
        justify-self: flex-start;
        flex-direction: row;

        .textBox {
          display: flex;
          width: 80%;
          border-radius: 10px;
          color: black;
          height: 30px;
        }
      }

      .send {
        background-color: #6c757d;
        color: white;
        max-width: 5em;
        height: 3em;
        border-radius: 5px;
      }

      .send:hover {
        background-color: white;
        color: #6c757d;
      }
    }
  }
  /* Header Panel in Chat Page */
  .header {
    background-color: #21222a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    box-sizing: border-box;
    padding: 0 20px;

    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1em;
      font-size: 40px;
      color: white;
    }

    .chatAvatar {
      flex: 1;
      gap: 10px;

      .chatLogo {
        border-radius: 50%;
        height: 6em;
        width: 50%;
      }
    }

    .teamInfo {
      flex: 3;

      .dropdown-menu {
        position: absolute;
        background-color: white;
        top: 100px;
        right: 60px;
        padding: 10px 20px;
        width: 200px;

        h3 {
          width: 100%;
          text-align: center;
          font-size: 18px;
          padding: 20px 0;
          font-weight: 500;
          line-height: 1.2rem;
        }

        &.active {
          opacity: 1;
          visibility: visible;
        }

        &.inactive {
          opacity: 0;
          visibility: hidden;
        }

        li {
          padding: 10px 0;
          border-top: 1px solid black;
          color: white;

          &:hover {
            cursor: pointer;
          }
        }

        .dropdownItem {
          display: flex;
          margin: 10px auto;
        }
      }

      h1 {
        font-size: 26px;
        color: white;
      }

      .teamImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .memberImg {
        width: 10%;
        /* height: 75%; */
        border-radius: 50%;
      }

      .more-members {
        color: white;
      }
    }
  }
  /* settings page, copy format for new chat*/
  .chatWrapper {
    display: flex;
    margin-top: 1.5em;
    margin-left: 3em;
    flex-direction: column;
    align-items: flex-start;

    button {
      border-radius: 5px;
      font-weight: bold;
      margin-top: 0.5em;

      &:hover {
        background-color: #5f5f5f;
        color: white;
      }
    }

    h1 {
      font-weight: 600;
      color: white;
    }

    input {
      height: 2rem;
    }

    span {
      color: white;
    }

    .userDisplayName {
      font-weight: bold;
      font-size: 15px;
      padding-right: 6px;
    }

    .username {
      display: flex;
      flex-direction: row;
      margin-left: 3em;
      margin-top: 1em;

      .username {
        display: flex;
        flex-direction: column;

        button {
          margin: auto;
          margin-bottom: 5px;
        }
        margin-top: 0em;
      }

      img {
        float: left;
        height: 5em;
        width: 5em;
        border-radius: 50%;
      }
    }

    .editName {
      margin-left: 5px !important;
    }

    .editEmail {
      margin-left: 5px !important;
    }

    .changePassword {
      display: block;
      margin-left: 3rem;
      padding: 1rem;

      form {
        display: block;
      }

      button {
        max-width: 15rem;
      }
    }

    p {
      color: white;
      cursor: pointer;

      p:hover {
        background-color: white;
        color: black;
      }
    }

    .createChatDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 2rem;

      h2 {
        color: white;
        font-size: 2em;
        margin-right: 5em;
      }

      .chatName {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;

        .chatNameBox {
          width: 325px;
          border-radius: 5px;
          height: 20px;
          margin-top: 10px;
        }
      }

      .setChatImg {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;

        input {
          background-color: #4f4d4d;
          color: white;
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
        }
      }

      .addMembers {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
      }

      .userItem-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;
        padding-right: 10rem;

        .userItem-wrapper.selected {
          background-color: #f0f0f0;
        }

        .selectedImage {
          width: 20px;
        }

        .userInfo {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        img {
          width: 50px;
          border-radius: 50%;
        }

        p {
          margin-right: 20px;
        }
      }
    }

    .createChatBtn {
      display: block;
      margin-right: 15em;
      margin-bottom: 3em;
    }
  }
}
