#root {
  font-family: "Inter", "Karla", "Space Grotesk", "Lato", "Roboto", system-ui, -apple-system, sans-serif;
}

.signin-formContainer {
  background: url("signin-background.jpg");
  background: cover;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signin-formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 370px;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}
/* Forgot Password Containers */
.forgotPass-formContainer {
  background: url("signin-background.jpg");
  background: cover;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.forgotPass-formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}
/* End of Forgot Password Containers */
/* Forgot Password Containers */
.forgotPass-formContainer {
  background: url("signin-background.jpg");
  background: cover;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.forgotPass-formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}
/* End of Forgot Password Containers */
.title-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 6em;
}

.logo {
  font-size: 5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  input {
    background-color: #dde0dc;
    padding: 15px;
    width: 250px;
  }
}

.add-member:hover{
  cursor: pointer;
}

/* Register */

.register-formContainer {
  background: url("signin-background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.register-formWrapper {
  background-color: #919eaa;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  gap: 10px;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.register-input {
  padding: 15px;
  width: 250px;
}

.password-strength {
  margin-top: 5px;
  font-size: 14px;
  color: black;
  color: black;
}

.register-weak {
  color: #e63946;
}

.register-strong {
  color: #38b000;
}

.register-error {
  color: #e63946;
  margin-top: 5px;
}

.emojiButton {
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-right: 1%;
  margin-right: 0px;
  margin-bottom: 4px;
}

.emojiPopup {
  position: absolute;
  top: calc(70% + 0px);
  left: 110%;
  top: -50%;
  transform: translateX(-50%);
  background-color: #dde0dc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  min-width: 195px;
  max-width: 300px;
  max-height: 180px;
  overflow: auto;
}

.emojiItem {
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
}

.emojiItem:hover {
  background-color: #838387;
}

.selected {
  background-color: #5f6c64;
  color: white;
}

.sign-in {
  background-color: #dde0dc;
  border: none;
  border-radius: 5px;
}

.sign-in:hover {
  background-color: #838387;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-btn,
.forgotPass-btn,
.register-link {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}
/* Main Page */
.chatroom {
  background-color: #21222a;
  height: 100vh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .container {
    background-color: #282D35;
    border: 1px solid white;
    border-radius: 10px;
    height: 85%;
    width: 90%;
    display: flex;
    overflow: hidden;

    /* Sidebar */
    .sidebar {
      background-color: #888888;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 10%;
      min-width: 400px;

      ::-webkit-scrollbar {
        width: 15px;
      }

      ::-webkit-scrollbar-track {
        background: #979494;
      }

      ::-webkit-scrollbar-thumb {
        background: #666666;
        border-radius: 50px;
      }

      ::-webkit-scrollbar-hover {
        background: #555;
      }

      .navbar {
        background-color: #888888;
        display: flex;
        position: static;
        flex-direction: column;
        width: 100%;
        height: 200px;
        /* padding-top: 10px; */
        box-sizing: border-box;

        .toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;

          .toggle-label {
            font-weight: 700;
          }

          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin: 0 1em 0 1em;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }

      .addBtns {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;

        .newMsg {
          margin-top: 10px;
          background-color: #6c757d;
          color: white;
          width: 12em;
          height: 2em;
          border-radius: 5px;

          &:hover {
            background-color: white;
            color: #6c757d;
            cursor: pointer;
          }
        }
        .AddFriend {
          margin-top: 10px;
          background-color: #6c757d;
          color: white;
          width: 12em;
          height: 2em;
          border-radius: 5px;

          &:hover {
            background-color: white;
            color: #6c757d;
            cursor: pointer;
          }
        } 
      }
      
      .nav-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .logo {
          font-size: 3rem;
        }

        .title {
          font-size: 1.5rem;
        }

        .logo {
          cursor: pointer;
        }
      }
    }
  }

  .previews {
    height: 65%;
    overflow-y: auto;
  }

  .chatPreview {
    cursor: pointer;
    padding: 5px 5px 30px 5px;
    max-width: 500px;
    overflow: hidden;
    gap: 15px;

    &.selected {
      background-color: #21222a;
    }
  }

  .chatPreview:hover {
    background-color: #39413c;
    color: white;
    cursor: pointer;
  }

  .userChat {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
  }

  .name-chat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  img {
    height: 3em;
    width: 3em;
    border-radius: 50% !important;
    object-fit: cover;
  }

  .channel-icon {
    margin-top: 16px;
    height: 3em;
    width: 3em;
    border-radius: 50% !important;
    object-fit: cover;
  }

  .deleteContainer {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .deleteContainer:hover svg {
    background-color: #b5b4b4;
  }

  p {
    font-size: 15px;
  }

  h3 {
    padding-top: 14px;
    font-size: 20px;
    font-weight: 500;
  }
}

.newChat {
  background-color: #9a9a9a;
  border: none;
  width: 20vw;
  font-size: 24px;
}

.newChat:hover {
  background-color: #4f4d4d;
}

/* User Info in Sidebar/ FOOTER */
.footer {
  display: flex;
  align-items: flex-end;
  position: static;
  background-color: #7a7a7a !important;
  align-items: center;
  height: 80px;
  /* z-index: 1; */
  padding: 50px !important;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  cursor: pointer;

  img {
    height: 3.5em;
    width: 3.5em;
    margin: 2em 7em 2em 1em;
    border-radius: 50%;
    object-fit: cover;
  }

  .sign-out {
    border-radius: 15px;
    background-color: #6c757d;
    color: white;
    margin: 2em 0 2em 5em;
    height: 3.75em;
    width: 7em;
  }

  .sign-out:hover {
    background-color: white;
    color: #6c757d;
    cursor: pointer;
  }
}

/* Chat Message Panel */
.rightSection {
  flex: 2;
  overflow-y: auto;
  width: 90%;
  min-width: 600px;

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #41424A;
  }

  ::-webkit-scrollbar-thumb {
    background: #21222A;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-hover {
    background: #555;
  }

  .chatMessages {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    padding-bottom: 2rem;

    .scroll {
      overflow-y: scroll;
    }

    .messageBlock {
      max-height: 55%;
      overflow-y: auto;
      padding-bottom: 20px;

      .chatMessage {
        display: flex;
        flex-direction: row;

        .userInfo {
          display: flex;
          flex-direction: column;
          width: 20%;
          margin: 2em 0 0 2em;

          span {
            color: gray;
            font-size: 0.7rem;
          }

          img {
            border-radius: 50%;
            height: 5em;
            width: 5em;
            object-fit: cover;
          }
        }
        .message {
          background-color: #7c91ff;
          display: flex;
          flex-direction: column;
          min-width: 90px;
          /* max-width: 100%; */
          margin: 3em 1em 3em 0.5em;
          border-radius: 15px;
          word-wrap: break-word; /* Add this property to wrap long words */
          overflow-wrap: break-word; /* Add this property to handle overflow */
          white-space: pre-wrap;
          padding: 5px 5px 5px 5px;

          input {
            background-color: transparent;
            margin-top: 0.2em;
          }

          .edited-text {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            font-size: 0.5rem;
          }

          p {
            overflow: visible;
            color: white;
            padding: 8px;
          }

          .messageOption {
            margin-left: 5em;

            button {
              background-color: transparent;
              border-width: 0;
              margin: 3px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        &.sender {
          flex-direction: row-reverse;

          .message {
            background-color: #d9dfff;
          }

          p {
            color: black;
          }
        }
      }
    }

    .inputMessage {
      position: fixed;
      bottom: 72px;
      width: 45%;
      /* min-width: 30vw;
      max-width: 50vw; */
      height: 8%;
      padding: 5px;
      background-color: #282D35;

      .inputBox {
        display: flex;
        width: 100%;
        /* min-width: 45vw;
        max-width: 53vw; */
        padding-left: 1rem;
        justify-self: flex-start;
        flex-direction: row;
        background-color: #282D35;

        .textBox {
          display: flex;
          width: 75vw;
          border-radius: 15px;
          color: black;
          height: 50px;
        }
      }

      .send {
        background-color: #6c757d;
        color: white;
        max-width: 100px;
        width: 500px;
        height: 50px;
        border-radius: 15px;
      }

      .send:hover {
        background-color: white;
        color: #6c757d;
      }
    }
  }
  
  /* Header Panel in Chat Page */
  .header {
    background-color: #21222A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
    box-sizing: border-box;
    padding: 0 20px;

    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1em;
      font-size: 40px;
      color: white;
    }

    .chatAvatar {
      flex: 1;
      gap: 10px;

      .chatLogo {
        border-radius: 50% !important;
        height: 6em;
        min-height: 5em;
        width: 50%;
      }
    }

    .teamInfo {
      flex: 3;
      cursor: pointer;

      h1 {
        font-size: 26px;
        color: white;
      }

      .teamImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .memberImg {
        width: 10%;
        height: 75%;
        border-radius: 50% !important;
      }

      .more-members {
        color: white;
      }

      .menuUserImg {
        display: flex;
      }

      .modal-content {
        background-color: #7a7a7a;
        height: 50%;
      }
    }
  }
  /* settings and chat settings page, copy format for new chat*/
  .chatWrapper {
    display: flex;
    margin-top: 1.5em;
    margin-left: 3em;
    flex-direction: column;
    align-items: flex-start;

    button {
      border-radius: 5px;
      font-weight: bold;
      margin-top: 0.5em;

      &:hover {
        background-color: #5f5f5f;
        color: white;
      }
    }

    h1 {
      font-weight: 600;
      color: white;
    }

    input {
      height: 2rem;
    }

    span {
      color: white;
    }

    .userDisplayName {
      font-weight: bold;
      font-size: 15px;
      padding-right: 6px;
    }

    .username {
      display: flex;
      flex-direction: row;
      margin-left: 3em;
      margin-top: 1em;

      .username {
        display: flex;
        flex-direction: column;

        button {
          margin: auto;
          margin-bottom: 5px;
        }
        margin-top: 0em;
      }

      img {
        float: left;
        height: 5em;
        width: 5em;
        border-radius: 50%;
      }
    }

    .editName {
      margin-left: 5px !important;
    }

    .editEmail {
      margin-left: 5px !important;
    }

    .changePassword {
      display: block;
      margin-left: 3rem;
      padding: 1rem;

      form {
        display: block;
      }

      button {
        max-width: 15rem;
      }
    }

    .notifications {
      margin: 2em;

      hr {
        max-width: 50vw;
      }

      #dnd {
        margin: 1em;
      }
    }

    p {
      color: white;
      cursor: pointer;

      p:hover {
        background-color: white;
        color: black;
      }
    }

    .createChatDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 2rem;

      h2 {
        color: white;
        font-size: 1.5em;
        margin-right: 5em;
      }

      .chatName {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;

        .chatNameBox {
          width: 325px;
          border-radius: 5px;
          height: 20px;
          margin-top: 10px;
        }
      }

      .setChatImg {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;

        input {
          background-color: #282D35;
          color: white;
          margin: 10px 0 0 0;
          padding: 10px 0 0 0;
        }
      }

      .addMembers {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        height: 225px;
        overflow-y: auto;
      }

      .userItem-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;
        padding-right: 10rem;

        .userItem-wrapper.selected {
          background-color: #f0f0f0;
        }

        .selectedImage {
          width: 20px;
          height: 10px;
        }

        .userInfo {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        img {
          width: 50px;
          border-radius: 50%;
        }

        p {
          margin-right: 20px;
        }
      }
    }

    .createChatBtn {
      display: block;
      margin-bottom: 1.5em;
      margin-left: 0.4rem;
    }
  }
}

/*Search User Page*/
.searchUsername {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;

  h2 {
    color: white;
    font-size: 2em;
    margin-right: 5em;
  }

  .FindUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem;

    .searchInput{
      display: flex;
      flex-direction: row;
      width: 325px;
      border-radius: 5px;
      height: 40px;
      margin-top: 10px;
      font-size: 20px;
    }

    .search-btn {
      height: 40px;
      margin-top: 0.75em;
      margin-left: 0.5em;
      width: 100px;
    }
  }

  .error-msg {
    padding-top: 0.75em;
    padding-left: 0.5rem;
  }

  .addNewFriend {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-top: 1rem;

    span {
      padding-top: 0.75rem;
      padding-left: 1rem;
    }

    .add-user-btn {
      height: 30px;
    }
  }

  .addMembers {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: 300px;
    overflow-y: auto;
  }

  .userItem-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    padding-right: 10rem;

    .userItem-wrapper.selected {
      background-color: #f0f0f0;
    }

    .selectedImage {
      width: 20px;
      height: 10px;
    }

    .userInfo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 50px;
      border-radius: 50%;
    }

    p {
      margin-right: 20px;
    }
  }
  
  .add-user-btn {
    transition-duration: 0.4s;
    margin-left: 2em;
    cursor: pointer;
    .hover{
      background-color: green;;
      color: white;
    }
  }
  .error-msg {
    color: red;
    font-size: 25px;
  }
}